.section-layout__sidebar {
  height: 100%;
}

/* If the sidebar is needed to appear sooner or later, override this media query in the theme. */
@media (min-width: 1024px) {
  .section-layout__two-columns > * {
    display: grid;
    gap: 0 3%;
  }
}

.section-layout__two-columns .section-layout__content {
    grid-column: 1/2;
    grid-row: 2;
}

.section-layout__two-columns .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2;
}

.section-ratio--39 {
  grid-template-columns: 75% 22%;
}

.section-ratio--48 {
    grid-template-columns: 70% 27%;
}

.section-ratio--57 {
    grid-template-columns: 58% 39%;
}

.section-ratio--66 {
    grid-template-columns: 48.5% 48.5%;
}

/* If the sidebar is on left. */
.section-layout__sidebar-left.section-layout__two-columns .section-layout__content {
  grid-column: 2/3;
}

.section-layout__sidebar-left.section-layout__two-columns .section-layout__sidebar {
    grid-column: 1/2;
}

.section-layout__sidebar-left.section-ratio--39 {
  grid-template-columns: 22% 75%;
}

.section-layout__sidebar-left.section-ratio--48 {
    grid-template-columns: 27% 70%;
}

.section-layout__sidebar-left.section-ratio--57 {
    grid-template-columns: 39% 58%;
}

.section-layout__sidebar-left.section-ratio--66 {
    grid-template-columns: 48.5% 48.5%;
}
