.paragraph--type--node-list,
.paragraph--type--item-list {

  .list {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: -$content-layout-padding/2;
    margin-right: -$content-layout-padding/2;
    list-style: none;
    padding: 0;

    > .list__item {
      padding: 0 $content-layout-padding/2 $content-layout-padding;
      width: 100%;

      > .paragraph {
        height: 100%;
      }
    }
  }

  @include bp( medium ) {
    // One column layout FULL width.
    &.list-layout--full-width {
      
      .list {
        //width: 100%;
      }
    }

    // Two column layout HALF width.
    &.list-layout--halves {
      
      .list {
        > .list__item {
          width: 50%;
        }
      }
    }

    // Three columns layout THIRDS.
    &.list-layout--thirds {
      
      .list {
        > .list__item {
          width: calc(100 / 3 * 1%);
        }
      }
    }

    // Two columns layout 1:2 ratio.
    &.list-layout--one-two {
      
      .list {
        > .list__item:nth-child(2n + 1) {
          width: calc(100 / 3 * 1%);
        }
        > .list__item:nth-child(2n + 2) {
          width: calc(100 / 3 * 2%);
        }
      }
    }

    // Two columns layout 2:1 ratio.
    &.list-layout--two-one {
      
      .list {
        > .list__item:nth-child(2n + 1) {
          width: calc(100 / 3 * 2%);
        }
        > .list__item:nth-child(2n + 2) {
          width: calc(100 / 3 * 1%);
        }
      }
    }

    // Two columns layout 1:3 ratio.
    &.list-layout--one-three {
      
      .list {
        > .list__item:nth-child(2n + 1) {
          width: calc(100 / 4 * 1%);
        }
        > .list__item:nth-child(2n + 2) {
          width: calc(100 / 4 * 3%);
        }
      }
    }

    // Two columns layout 3:1 ratio.
    &.list-layout--three-one {
      
      .list {
        > .list__item:nth-child(2n + 1) {
          width: calc(100 / 4 * 3%);
        }
        > .list__item:nth-child(2n + 2) {
          width: calc(100 / 4 * 1%);
        }
      }
    }

    // Three columns layout 1:2:1 ratio.
    &.list-layout--one-two-one {
      
      .list {
        > .list__item:nth-child(3n + 1) {
          width: calc(100 / 4 * 1%);
        }
        > .list__item:nth-child(3n + 2) {
          width: calc(100 / 4 * 2%);
        }
        > .list__item:nth-child(3n + 3) {
          width: calc(100 / 4 * 1%);
        }
      }
    }
  }

  // Four columns layout QUARTERS.
  &.list-layout--quarters {
    
    .list {
      @include bp(medium) {
        > .list__item {
          width: calc(100 / 2 * 1%);
        }
      }
      @include bp(large) {
        > .list__item {
          width: calc(100 / 4 * 1%);
        }
      }
    }
  }

  // Five columns layout FIFTHS.
  &.list-layout--fifths {

    .list {
      @include bp(medium) {
        > .list__item {
          width: calc(100 / 5 * 1%);
        }
      }
    }
  }

  // Six columns layout SIXTH.
  &.list-layout--sixths {

    .list {
      @include bp(medium) {
        > .list__item {
          width: calc(100 / 3 * 1%);
        }
      }
      @include bp(large) {
        > .list__item {
          width: calc(100 / 6 * 1%);
        }
      }
    }
  }

  ////
  // Equal columns.
  // Items width can be set dynamically up to 6 items in row.
  ////
  &.list-layout--equal {
    .list > .list__item {
      padding-left: $content-layout-padding/2;
      padding-right: $content-layout-padding/2;

      @include bp(medium) {
        width: calc(100 / 3 * 1%);
      }

      @include bp(large) {
        width: calc(100 / 6 * 1%);
      }

      /* one item */
      &:first-child:nth-last-child(1) {
        width: 100%;
      }

      /* two items */
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .list__item {
        width: 100%;

        @include bp(medium) {
          margin-top: 0;
          width: calc(100 / 2 * 1%);
        }
      }

      /* three items */
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ .list__item {
        width: 100%;

        @include bp(medium) {
          margin-top: 0;
          width: calc(100 / 3 * 1%);
        }
      }

      /* four items */
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .list__item {
        width: 100%;

        @include bp(medium) {
          margin-top: 0;
          width: calc(100 / 2 * 1%);
        }

        @include bp(large) {
          width: calc(100 / 4 * 1%);
        }
      }

      /* five items */
      &:first-child:nth-last-child(5),
      &:first-child:nth-last-child(5) ~ .list__item {
        width: 100%;

        @include bp(medium) {
          margin-top: 0;
          width: calc(100 / 3 * 1%);
        }

        @include bp(large) {
          width: calc(100 / 5 * 1%);
        }
      }

      /* six items */
      @include bp(medium) {
        &:nth-child(-n+3) {
          margin-top: 0;
        }
      }

      @include bp(large) {
        &:nth-child(-n+6) {
          margin-top: 0;
        }
      }
    }
  }
}

// Calendar item view mode in list.
.list.erd-list--calendar-item .list__item {
  padding: 0 $content-layout-padding/2 $calendar-item-border;
}
