header {
  background: $header-background;
}

.region-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 2rem;
  position: relative;
  z-index: 300;

  @include bp(medium) {
    grid-template-columns: 3fr 2fr;
  }

  @include bp(medium) {
    grid-template-columns: 2fr 1fr 2fr;
  }

  .logo {
    grid-area: 1/1/1/2;
    margin: 0.5em;
    max-width: 100px;

    @include bp(small) {
      margin: 1em 0;
      max-width: 150px;
    }

    @include bp(medium) {
      max-width: 200px;
    }
  }

  .search {
    grid-area: 1/2/1/3;

    @include bp(medium) {
      grid-area: 1/3/1/4;
    }
  }

  .menu-switch {
    grid-area: 1/2/1/3;
  }
}
