// Set HTML to get easy calculation. 62.5% = 10px.
html {
  font-size: 62.5%;
}

// Set font size back to 16px.
body {
  font-size: $base-font-size;
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 1.45;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 1.25em 0 .5em;
}

h1 {
  font-size: $heading-xxl;
  font-family: $font-family-base;
  font-weight: $heading-xxl-weight;
  margin: 0.8em 0 0.35em;
}

h2 {
  font-size: $heading-xl;
  font-weight: $heading-xl-weight;
}

h3 {
  font-size: $heading-l;
  font-weight: $heading-l-weight;
}

h4 {
  font-size: $heading-m;
  font-weight: $heading-m-weight;
}

h5 {
  font-size: $heading-sm;
  font-weight: $heading-sm-weight;
}

h6 {
  font-size: $heading-xs;
  font-weight: $heading-xs-weight;
}

p {
  margin: 0 0 1.5em 0;
}

a {
  color: $color-standard-action;
  transition: all 600ms ease-in-out;
  text-decoration: underline;

  &:hover {
    color: $color-standard-foreground;
    text-decoration: none;
    transition: all 300ms ease-in-out;
  }
}

strong {
  font-weight: 500;
}

.lead {
  font-size: $font-size-large;
  font-style: italic;
}
