/**
* @file
* Installation styling.
*/
/**
* Password widget
*/
.password-parent,
.confirm-parent {
  width: auto;
}

.form-item .password-suggestions {
  float: none;
  width: auto;
}

table td {
  word-break: break-all;
}

.site-version {
  vertical-align: super;
  font-size: 1rem;
  color: #595959;
}

@media all and (max-width: 1010px) and (min-width: 48em) {
  .password-strength,
  .confirm-parent {
    width: 100%;
  }

  .install-configure-form .form-type-password {
    width: 100%;
  }

  .password-confirm,
  .password-field {
    float: none;
  }

  .password-confirm-match {
    float: none;
    width: auto;
    max-width: 100%;
  }
}

/*
CSGov distribution page styles
- Petr Illek, December 2020
*/
html {
  height: 100%;
}

.layout-container {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
  border-radius: .25rem;
}

.page-title {
  display: block;
  color: #000;
  position: relative;
}

.page-title img {
  max-width: 150px;
}

.install-page {
  background: #2362a2;
}

.install-page .site-version {
  color: #000;
  font-size: 1rem;
  font-weight: 200;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.install-page .site-version {
  color: #000;
  font-size: 1rem;
  font-weight: 200;
  position: relative;
  display: block;
  left: 0.7rem;
}

@media (min-width: 48em) {
  .install-page .site-version {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    left: initial;
  }
}

.install-page .messages a {
  color: #2362a2;
}

.install-page .messages a:hover,
.install-page .messages a:focus {
  color: #3b3b3b;
}

.heading-c {
  color: #000;
}

#error {
  color: #c52a3a;
}

#warning {
  color: #f9c13c;
}

#ok {
  color: #3a6217;
}

.system-status-report:last-of-type {
  margin-bottom: 2em;
}

main>a[href$="?rewrite=ok"] {
  text-decoration: underline;
}

@media (min-width: 48em) {
  .task-list li {
    color: #2362a2;
    border-radius: 0 0.25rem 0.25rem 0;
  }

  .task-list .done {
    color: #686868;
  }

  .task-list .is-active {
    background: #2362a2;
    color: #fff;
  }

  .task-list .is-active {
    background: #2362a2;
    color: #fff;
  }

}

.progress__bar {
  border-color: #686868;
  background: #66a1d8;
}

pre,
.backtrace {
  display: block;
  padding: 9.5px;
  margin: 1em 0 1px;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: .25rem;
}

.placeholder,
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: .25rem;
}

.progress__bar,
.progress__track {
  border-radius: .25rem;
}

.password-suggestions,
.messages {
  background: transparent;
  border: 0;
  border-radius: .25rem;
  box-shadow: 0 0 8px #bbb;
  color: #333;
  padding: 1.2em;
  margin: 0 0 2em 0 !important;
}

.messages--status {
  border-left: 0.4em solid #007554 !important;
}

.form-item-account-pass-pass2 {
  margin-bottom: 0;
}

.password-suggestions {
  margin-bottom: 2em;
  border-left: 0.4em solid #2362a2;
  color: #333 !important;
}

.password-suggestions ul {
  padding: 0 15px;
}

.password-strength__indicator.is-strong {
  background-color: #61daff;
  width: 100% !important;
}

.password-strength__indicator.is-good {
  background-color: #3a6217;
}

.password-strength__indicator {
  background-color: #000;
}

.password-strength__indicator.is-fair {
  background-color: #f9c13c;
}

.password-strength__indicator.is-weak {
  background-color: #c52a3a;
}

ul.tips,
div.description,
.form-item .description {
  color: #696969;
}

.install-configure-form .form-text,
.install-configure-form .password-strength,
.install-configure-form .chosen-container {
  width: 100% !important;
}
