.region-admin-area {
  padding: 0; }

.region-admin-area {
  background: transparent; }

.region-header {
  background: #ff00ff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
  position: relative;
  z-index: 300; }
  @media (min-width: 768px) {
    .region-header {
      grid-template-columns: 3fr 2fr; } }
  @media (min-width: 768px) {
    .region-header {
      grid-template-columns: 2fr 1fr 2fr; } }
  .region-header .logo {
    grid-area: 1/1/1/2;
    margin: 1em 0.5em;
    max-width: 200px; }
    @media (min-width: 480px) {
      .region-header .logo {
        margin: 1em 0;
        max-width: 250px; } }
    @media (min-width: 768px) {
      .region-header .logo {
        margin: 2em 0;
        max-width: 300px; } }
  .region-header .search {
    grid-area: 1/2/1/3; }
    @media (min-width: 768px) {
      .region-header .search {
        grid-area: 1/3/1/4; } }
  .region-header .menu-switch {
    grid-area: 1/2/1/3; }

.main-navigation {
  position: relative; }
  @media (min-width: 768px) {
    .main-navigation {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      width: 100%;
      z-index: 299; } }
  .main-navigation .menu {
    display: none; }
    @media (min-width: 768px) {
      .main-navigation .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media (min-width: 1200px) {
      .main-navigation .menu {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

.top-bar {
  padding: 0 2rem; }

.region-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  max-width: 120rem; }
  .region-top-bar .menu {
    margin: .3em 0 .3em 2em; }
    .region-top-bar .menu li {
      display: inline-block;
      margin-left: .5em;
      padding-top: 0; }
    .region-top-bar .menu a {
      font-size: 1.2rem; }

.paragraph--type--node-list .list,
.paragraph--type--item-list .list {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem; }
  .paragraph--type--node-list .list > .list__item,
  .paragraph--type--item-list .list > .list__item {
    padding: 0 2rem 4rem;
    width: 100%; }
    .paragraph--type--node-list .list > .list__item > .paragraph,
    .paragraph--type--item-list .list > .list__item > .paragraph {
      height: 100%; }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--full-width .list,
  .paragraph--type--item-list.list-layout--full-width .list {
    width: 100%; }
  .paragraph--type--node-list.list-layout--halves .list > .list__item,
  .paragraph--type--item-list.list-layout--halves .list > .list__item {
    width: 50%; }
  .paragraph--type--node-list.list-layout--thirds .list > .list__item,
  .paragraph--type--item-list.list-layout--thirds .list > .list__item {
    width: calc(100 / 3 * 1%); }
  .paragraph--type--node-list.list-layout--one-two .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--one-two .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 3 * 1%); }
  .paragraph--type--node-list.list-layout--one-two .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--one-two .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 3 * 2%); }
  .paragraph--type--node-list.list-layout--two-one .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--two-one .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 3 * 2%); }
  .paragraph--type--node-list.list-layout--two-one .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--two-one .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 3 * 1%); }
  .paragraph--type--node-list.list-layout--one-three .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--one-three .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 4 * 1%); }
  .paragraph--type--node-list.list-layout--one-three .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--one-three .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 4 * 3%); }
  .paragraph--type--node-list.list-layout--three-one .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--three-one .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 4 * 3%); }
  .paragraph--type--node-list.list-layout--three-one .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--three-one .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 4 * 1%); }
  .paragraph--type--node-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 1),
  .paragraph--type--item-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 1) {
    width: calc(100 / 4 * 1%); }
  .paragraph--type--node-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 2),
  .paragraph--type--item-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 2) {
    width: calc(100 / 4 * 2%); }
  .paragraph--type--node-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 3),
  .paragraph--type--item-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 3) {
    width: calc(100 / 4 * 1%); } }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--quarters .list > .list__item,
  .paragraph--type--item-list.list-layout--quarters .list > .list__item {
    width: calc(100 / 2 * 1%); } }

@media (min-width: 1200px) {
  .paragraph--type--node-list.list-layout--quarters .list > .list__item,
  .paragraph--type--item-list.list-layout--quarters .list > .list__item {
    width: calc(100 / 4 * 1%); } }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--fifths .list > .list__item,
  .paragraph--type--item-list.list-layout--fifths .list > .list__item {
    width: calc(100 / 5 * 1%); } }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--sixths .list > .list__item,
  .paragraph--type--item-list.list-layout--sixths .list > .list__item {
    width: calc(100 / 3 * 1%); } }

@media (min-width: 1200px) {
  .paragraph--type--node-list.list-layout--sixths .list > .list__item,
  .paragraph--type--item-list.list-layout--sixths .list > .list__item {
    width: calc(100 / 6 * 1%); } }

.paragraph--type--node-list.list-layout--equal .list > .list__item,
.paragraph--type--item-list.list-layout--equal .list > .list__item {
  padding-left: 2rem;
  padding-right: 2rem;
  /* one item */
  /* two items */
  /* three items */
  /* four items */
  /* five items */
  /* six items */ }
  @media (min-width: 768px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item,
    .paragraph--type--item-list.list-layout--equal .list > .list__item {
      width: calc(100 / 3 * 1%); } }
  @media (min-width: 1200px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item,
    .paragraph--type--item-list.list-layout--equal .list > .list__item {
      width: calc(100 / 6 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(1),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(1) {
    width: 100%; }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 2 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 3 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 2 * 1%); } }
    @media (min-width: 1200px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
        width: calc(100 / 4 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 3 * 1%); } }
    @media (min-width: 1200px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
        width: calc(100 / 5 * 1%); } }
  @media (min-width: 768px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item:nth-child(-n+3),
    .paragraph--type--item-list.list-layout--equal .list > .list__item:nth-child(-n+3) {
      margin-top: 0; } }
  @media (min-width: 1200px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item:nth-child(-n+6),
    .paragraph--type--item-list.list-layout--equal .list > .list__item:nth-child(-n+6) {
      margin-top: 0; } }

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }

@media (min-width: 480px) {
  .section-layout:not(.section-layout__one-column) {
    display: grid;
    gap: 0 3%; } }

.section-layout__sidebar {
  height: 100%; }

.section-layout--edgy {
  margin-left: 0;
  margin-right: 0;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  display: block; }
  .section-layout--edgy .content {
    padding-left: 0;
    padding-right: 0; }

@media (min-width: 480px) {
  .section-layout--39 {
    grid-template-columns: 22% 75%; } }

@media (min-width: 480px) {
  .section-layout--39 .section-layout__content {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--39 .section-layout__sidebar {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--48 {
    grid-template-columns: 27% 70%; } }

@media (min-width: 480px) {
  .section-layout--48 .section-layout__content {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--48 .section-layout__sidebar {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--57 {
    grid-template-columns: 39% 58%; } }

@media (min-width: 480px) {
  .section-layout--57 .section-layout__content {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--57 .section-layout__sidebar {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--66 {
    grid-template-columns: 48.5% 48.5%; } }

@media (min-width: 480px) {
  .section-layout--66 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--66 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--75 {
    grid-template-columns: 58% 39%; } }

@media (min-width: 480px) {
  .section-layout--75 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--75 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--84 {
    grid-template-columns: 70% 27%; } }

@media (min-width: 480px) {
  .section-layout--84 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--84 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--93 {
    grid-template-columns: 75% 22%; } }

@media (min-width: 480px) {
  .section-layout--93 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--93 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .views-layout .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch; } }

.views-layout .view-content .views-row {
  margin-top: 3rem; }

.views-layout--full-width .view-content .views-row {
  width: 100%; }

@media (min-width: 480px) {
  .views-layout--halves .view-content .views-row {
    width: calc(100 / 2 * 1%); } }

@media (min-width: 480px) {
  .views-layout--thirds .view-content .views-row {
    width: calc(100 / 3 * 1%); } }

@media (min-width: 480px) {
  .views-layout--quarters .view-content .views-row {
    width: calc(100 / 4 * 1%); } }

@media (min-width: 480px) {
  .views-layout--fifths .view-content .views-row {
    width: calc(100 / 5 * 1%); } }

@media (min-width: 768px) {
  .views-layout--sixths .view-content .views-row {
    width: calc(100 / 3 * 1%); } }

@media (min-width: 1200px) {
  .views-layout--sixths .view-content .views-row {
    width: calc(100 / 6 * 1%); } }

/*# sourceMappingURL=style.css.map */
