.paragraph--type--node-list .list,
.paragraph--type--item-list .list {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -2rem;
  margin-right: -2rem; }
  .paragraph--type--node-list .list > .list__item,
  .paragraph--type--item-list .list > .list__item {
    padding: 0 2rem 4rem;
    width: 100%; }
    .paragraph--type--node-list .list > .list__item > .paragraph,
    .paragraph--type--item-list .list > .list__item > .paragraph {
      height: 100%; }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--full-width .list,
  .paragraph--type--item-list.list-layout--full-width .list {
    width: 100%; }
  .paragraph--type--node-list.list-layout--halves .list > .list__item,
  .paragraph--type--item-list.list-layout--halves .list > .list__item {
    width: 50%; }
  .paragraph--type--node-list.list-layout--thirds .list > .list__item,
  .paragraph--type--item-list.list-layout--thirds .list > .list__item {
    width: calc(100 / 3 * 1%); }
  .paragraph--type--node-list.list-layout--one-two .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--one-two .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 3 * 1%); }
  .paragraph--type--node-list.list-layout--one-two .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--one-two .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 3 * 2%); }
  .paragraph--type--node-list.list-layout--two-one .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--two-one .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 3 * 2%); }
  .paragraph--type--node-list.list-layout--two-one .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--two-one .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 3 * 1%); }
  .paragraph--type--node-list.list-layout--one-three .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--one-three .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 4 * 1%); }
  .paragraph--type--node-list.list-layout--one-three .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--one-three .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 4 * 3%); }
  .paragraph--type--node-list.list-layout--three-one .list > .list__item:nth-child(2n + 1),
  .paragraph--type--item-list.list-layout--three-one .list > .list__item:nth-child(2n + 1) {
    width: calc(100 / 4 * 3%); }
  .paragraph--type--node-list.list-layout--three-one .list > .list__item:nth-child(2n + 2),
  .paragraph--type--item-list.list-layout--three-one .list > .list__item:nth-child(2n + 2) {
    width: calc(100 / 4 * 1%); }
  .paragraph--type--node-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 1),
  .paragraph--type--item-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 1) {
    width: calc(100 / 4 * 1%); }
  .paragraph--type--node-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 2),
  .paragraph--type--item-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 2) {
    width: calc(100 / 4 * 2%); }
  .paragraph--type--node-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 3),
  .paragraph--type--item-list.list-layout--one-two-one .list > .list__item:nth-child(3n + 3) {
    width: calc(100 / 4 * 1%); } }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--quarters .list > .list__item,
  .paragraph--type--item-list.list-layout--quarters .list > .list__item {
    width: calc(100 / 2 * 1%); } }

@media (min-width: 1200px) {
  .paragraph--type--node-list.list-layout--quarters .list > .list__item,
  .paragraph--type--item-list.list-layout--quarters .list > .list__item {
    width: calc(100 / 4 * 1%); } }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--fifths .list > .list__item,
  .paragraph--type--item-list.list-layout--fifths .list > .list__item {
    width: calc(100 / 5 * 1%); } }

@media (min-width: 768px) {
  .paragraph--type--node-list.list-layout--sixths .list > .list__item,
  .paragraph--type--item-list.list-layout--sixths .list > .list__item {
    width: calc(100 / 3 * 1%); } }

@media (min-width: 1200px) {
  .paragraph--type--node-list.list-layout--sixths .list > .list__item,
  .paragraph--type--item-list.list-layout--sixths .list > .list__item {
    width: calc(100 / 6 * 1%); } }

.paragraph--type--node-list.list-layout--equal .list > .list__item,
.paragraph--type--item-list.list-layout--equal .list > .list__item {
  padding-left: 2rem;
  padding-right: 2rem;
  /* one item */
  /* two items */
  /* three items */
  /* four items */
  /* five items */
  /* six items */ }
  @media (min-width: 768px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item,
    .paragraph--type--item-list.list-layout--equal .list > .list__item {
      width: calc(100 / 3 * 1%); } }
  @media (min-width: 1200px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item,
    .paragraph--type--item-list.list-layout--equal .list > .list__item {
      width: calc(100 / 6 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(1),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(1) {
    width: 100%; }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(2) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 2 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(3) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 3 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 2 * 1%); } }
    @media (min-width: 1200px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(4) ~ .list__item {
        width: calc(100 / 4 * 1%); } }
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
  .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item,
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
  .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
    width: 100%; }
    @media (min-width: 768px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
        margin-top: 0;
        width: calc(100 / 3 * 1%); } }
    @media (min-width: 1200px) {
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--node-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item,
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5),
      .paragraph--type--item-list.list-layout--equal .list > .list__item:first-child:nth-last-child(5) ~ .list__item {
        width: calc(100 / 5 * 1%); } }
  @media (min-width: 768px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item:nth-child(-n+3),
    .paragraph--type--item-list.list-layout--equal .list > .list__item:nth-child(-n+3) {
      margin-top: 0; } }
  @media (min-width: 1200px) {
    .paragraph--type--node-list.list-layout--equal .list > .list__item:nth-child(-n+6),
    .paragraph--type--item-list.list-layout--equal .list > .list__item:nth-child(-n+6) {
      margin-top: 0; } }

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem; }

@media (min-width: 480px) {
  .section-layout:not(.section-layout__one-column) {
    display: grid;
    gap: 0 3%; } }

.section-layout__sidebar {
  height: 100%; }

.section-layout--edgy {
  margin-left: 0;
  margin-right: 0;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
  display: block; }
  .section-layout--edgy .content {
    padding-left: 0;
    padding-right: 0; }

@media (min-width: 480px) {
  .section-layout--39 {
    grid-template-columns: 22% 75%; } }

@media (min-width: 480px) {
  .section-layout--39 .section-layout__content {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--39 .section-layout__sidebar {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--48 {
    grid-template-columns: 27% 70%; } }

@media (min-width: 480px) {
  .section-layout--48 .section-layout__content {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--48 .section-layout__sidebar {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--57 {
    grid-template-columns: 39% 58%; } }

@media (min-width: 480px) {
  .section-layout--57 .section-layout__content {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--57 .section-layout__sidebar {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--66 {
    grid-template-columns: 48.5% 48.5%; } }

@media (min-width: 480px) {
  .section-layout--66 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--66 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--75 {
    grid-template-columns: 58% 39%; } }

@media (min-width: 480px) {
  .section-layout--75 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--75 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--84 {
    grid-template-columns: 70% 27%; } }

@media (min-width: 480px) {
  .section-layout--84 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--84 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--93 {
    grid-template-columns: 75% 22%; } }

@media (min-width: 480px) {
  .section-layout--93 .section-layout__content {
    grid-column: 1/2;
    grid-row: 2; } }

@media (min-width: 480px) {
  .section-layout--93 .section-layout__sidebar {
    grid-column: 2/3;
    grid-row: 2; } }

@media (min-width: 480px) {
  .views-layout .view-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch; } }

.views-layout .view-content .views-row {
  margin-top: 3rem; }

.views-layout--full-width .view-content .views-row {
  width: 100%; }

@media (min-width: 480px) {
  .views-layout--halves .view-content .views-row {
    width: calc(100 / 2 * 1%); } }

@media (min-width: 480px) {
  .views-layout--thirds .view-content .views-row {
    width: calc(100 / 3 * 1%); } }

@media (min-width: 480px) {
  .views-layout--quarters .view-content .views-row {
    width: calc(100 / 4 * 1%); } }

@media (min-width: 480px) {
  .views-layout--fifths .view-content .views-row {
    width: calc(100 / 5 * 1%); } }

@media (min-width: 768px) {
  .views-layout--sixths .view-content .views-row {
    width: calc(100 / 3 * 1%); } }

@media (min-width: 1200px) {
  .views-layout--sixths .view-content .views-row {
    width: calc(100 / 6 * 1%); } }

/*# sourceMappingURL=style.css.map */
