.back-to-top__link {
  padding: 0.1em 0.5em;
  background: $white-3;
  border: none;
  display: block;
  opacity: 0;
  position: fixed;
  transition: all 600ms ease-in-out;
  z-index: -1;
  border-radius: 100%;
  bottom: 30px;
  right: 30px;
  height: 55px;
  overflow: hidden;
  width: 55px;

  .fa {
    font-size: 2rem;
    line-height: 52px;
    transition: all 600ms ease-in-out;
  }

  &:hover {
    background: $white-8;

    .fa {
      font-size: 3rem;
      transition: all 400ms ease-in-out;
      transform: translateY(-10px);
    }
  }

  &:focus,
  &.is-visible {
    opacity: 1;
    transition: all 300ms ease-in-out;
    z-index: 9999;
  }
}
