.btn,
.button {
  background: $color-standard-action;
  border: 3px solid transparent;
  border-radius: 5px;
  box-shadow: none;
  color: $color-standard-background;
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: .1em;
  transition: all 700ms ease-in-out;

  &:hover {
    background: $gray-7;
    color: $white;
    transition: all 300ms ease-in-out;
  }
}

.btn-primary {
  background: $color-primary-background;
  color: $color-primary-foreground;
}

.btn-secondary {
  background: $color-secondary-background;
  color: $color-secondary-foreground;
}

.btn-light {
  background: $color-light-background;
  color: $color-light-foreground;
}

.btn-dark {
  background: $color-dark-background;
  color: $color-dark-foreground;
}
