.color--standard {
  padding: $site-padding 0;
}

.color--primary {
  background: $color-primary-background;
  color: $color-primary-foreground;
  padding: $site-padding;

  a {
    color: $color-primary-action;

    &:hover {
      color: $color-primary-foreground;
    }
    &:focus {
      outline: 3px solid $color-primary-focus;
      outline-offset: 2px;
    }
  }

  .btn:hover {
    background: $gray-7;
    color: $white;
    transition: all 300ms ease-in-out;
  }

  .btn-primary {
    background: $color-primary-action;
    color: $color-primary-background;
  }

  .btn-secondary {
    background: $color-secondary-background;
    color: $color-secondary-foreground;
  }

  .btn-light {
    background: $color-light-background;
    color: $color-light-foreground;
  }

  .btn-dark {
    background: $color-dark-background;
    color: $color-dark-foreground;
  }
}

.color--secondary {
  background: $color-secondary-background;
  color: $color-secondary-foreground;
  padding: $site-padding;

  a {
    color: $color-secondary-action;

    &:hover {
      color: $color-secondary-foreground;
    }
    &:focus {
      outline: 3px solid $color-secondary-focus;
      outline-offset: 2px;
    }
  }

  .btn:hover {
    background: $gray-7;
    color: $white;
    transition: all 300ms ease-in-out;
  }

  .btn-primary {
    background: $color-primary-background;
    color: $color-primary-foreground;
  }

  .btn-secondary {
    background: $color-secondary-action;
    color: $color-secondary-background;
  }

  .btn-light {
    background: $color-light-background;
    color: $color-light-foreground;
  }

  .btn-dark {
    background: $color-dark-background;
    color: $color-dark-foreground;
  }
}

.color--light {
  background: $color-light-background;
  color: $color-light-foreground;
  padding: $site-padding;

  a {
    color: $color-light-action;

    &:hover {
      color: $color-light-foreground;
    }
    &:focus {
      outline: 3px solid $color-light-focus;
      outline-offset: 2px;
    }
  }

  .btn:hover {
    background: $gray-7;
    color: $white;
    transition: all 300ms ease-in-out;
  }

  .btn-primary {
    background: $color-primary-background;
    color: $color-primary-foreground;
  }

  .btn-secondary {
    background: $color-secondary-background;
    color: $color-secondary-foreground;
  }

  .btn-light {
    background: $color-light-action;
    color: $color-light-background;
  }

  .btn-dark {
    background: $color-dark-background;
    color: $color-dark-foreground;
  }
}

// Color dark
.color--dark {
  background: $color-dark-background;
  color: $color-dark-foreground;
  padding: $site-padding;

  a {
    color: $color-dark-action;

    &:hover {
      color: $color-dark-foreground;
    }
    &:focus {
      outline: 3px solid $color-dark-focus;
      outline-offset: 2px;
    }
  }

  .btn:hover {
    background: $gray-7;
    color: $white;
    transition: all 300ms ease-in-out;
  }

  .btn-primary {
    background: transparent;
    border-color: $color-primary-background;
    color: $color-primary-background;
  }

  .btn-secondary {
    background: transparent;
    border-color: $color-secondary-background;
    color: $color-secondary-background;
  }

  .btn-light {
    background: transparent;
    border-color: $color-light-background;
    color: $color-light-background;
  }

  .btn-dark {
    background: transparent;
    border-color: $color-dark-foreground;
    color: $color-dark-foreground;
  }
}
