// Styling for Event date field.
.field--name-field-event-date {
  .datetime:first-child {
    font-weight: bold;
  }
  .datetime:last-child {
    color: $gray-6;
  }
}

// Event date on Full view mode.
.event-date--view-mode-full {
  font-size: $font-size-large;
}
