.block-field-blocknodepagefield-body {
  .field--name-field-body {
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
  }

  .section-layout--edgy & {
    .field--name-field-body {
      padding-left: $site-padding;
      padding-right: $site-padding;
    }
  }
}
