.form--inline {
  display: flex;
}

input[type=text] {
  box-sizing: border-box;
  border: 3px solid $gray-5;
  background-color: $gray-05;
  color: $gray-9;
  border-radius: $border-radius;
  padding: 10px 25px;
  vertical-align: middle;
  appearance: none;
  width: 100%;

  &:focus {
    border-radius: 0;
    background-color: $gray-05; // Keep the light-bg when focusing on success/error
  }
}
