.main-navigation {
  background: $main-navigation-background;
  box-shadow: inset 0 -5px 0 0 $main-navigation-accent;

  .menu {
    display: none;
    padding: 0;
    margin: 0;

    @include bp(medium) {
      display: flex;
    }

    > .menu-item {
      padding: 0;

      > a {
        color: $main-navigation-action;
        display: block;
        padding: 1em;
        text-decoration: none;

        &:hover,
        &.is-active {
          box-shadow: inset 0 -5px 0 0 $main-navigation-accent-hover;
          color: $main-navigation-action-hover;
        }
      }
    }
    > .menu-item--active-trail {
     > a {
        box-shadow: inset 0 -5px 0 0 $main-navigation-accent-hover;
        color: $main-navigation-action-hover;
      }
    }
    > .menu-item--collapsed {
      list-style-type: none;
      list-style-image: none;

      > a {
        &:after {
          color: $main-navigation-action;
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          vertical-align: middle;
          border-top: 5px solid;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          margin-left: 8px;
        }
      }
    }
  }
}
