.section-layout__sidebar {
  .menu {
    margin-left: 0;
    margin-top: 0;

    .menu-item {
      padding-top: 0;
    }

    .menu-item + .menu-item {
      padding-top: 1px;
    }

    > .menu-item > a {
      border-left: 5px solid $gray-2;
      background: $gray-05;
      color: $color-standard-foreground;
      display: block;
      padding: 0.8em 0.5em;
      text-decoration: none;

      &:hover {
        background: $gray-1;
        border-left-color: $gray-4;
      }
    }

    .menu-item--active-trail > a {
      background: $gray-1;
      border-left-color: $color-standard-action;
      padding: 0.5em;
    }
  }
}
