ul {
  &.tabs {
    margin: 0;
    padding: .5em 0;

    li {
      margin-right: .5em;
    }
  }
}

.tabs {
  a {
    background: $gray-6;
    border-radius: 4px;
    color: $white;
    font-size: 1.4rem;
    padding: 4px 8px;
    text-transform: uppercase;

    &.is-active,
    &:hover {
      background: $gray-9;
      box-shadow: none;
    }
  }
}
