// Container for limiting content layout.
.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $site-padding;

  @include bp(medium) {
    padding: 0 $site-padding;
  }
}

// Some Layout builder blocks needs its own padding to be in line.
div[class^='section-layout'] > .block.block-layout-builder:not(.block-field-blocknodepagefield-components):not(.block-field-blocknodepagefield-hero-components):not(.block-field-blockblock-contentcomponentsfield-components) {
  padding: 0 $site-padding;

  @include bp(medium) {
    padding: 0;
  }
}

//
// Common styling for all layouts
//
// Default section layout for section with column.
.section-layout:not(.section-layout__one-column) {
  @include bp(medium) {
    display: grid;
    gap: 0 3%;
  }
}
// Block region sidebar needs to fill the full height of the content.
.section-layout__sidebar {
  height: 100%;
}

// Edgy layout styling.
.section-layout--edgy {
  margin-left: 0;
  margin-right: 0;
  flex-wrap: initial;
  display: block;

  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

// Special options for Hero.
.section-layout--hero {
  margin-bottom: 2em;
}

.node__content .section-layout:first-child:not(.section-layout--hero) {
  margin-top: 2em;
}

////
// Layouts specific styling.
////

// Layout 3 9
.section-layout--39 {
  @include bp(medium) {
    grid-template-columns: 22% 75%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }
}

// Layout 4 8
.section-layout--48 {
  @include bp(medium) {
    grid-template-columns: 27% 70%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }
}

// Layout 5 7
.section-layout--57 {
  @include bp(medium) {
    grid-template-columns: 39% 58%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }
}

// Layout 6 6
.section-layout--66 {
  @include bp(medium) {
    grid-template-columns: 48.5% 48.5%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }
}

// Layout 7 5
.section-layout--75 {
  @include bp(medium) {
    grid-template-columns: 58% 39%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }
}

// Layout 8 4
.section-layout--84 {
  @include bp(medium) {
    grid-template-columns: 70% 27%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }
}

// Layout 9 3
.section-layout--93 {
  @include bp(medium) {
    grid-template-columns: 75% 22%;
  }
  .section-layout__content {
    @include bp(medium) {
      grid-column: 1/2;
      grid-row: 2;
    }
  }

  .section-layout__sidebar {
    @include bp(medium) {
      grid-column: 2/3;
      grid-row: 2;
    }
  }
}
