// Allow views to get same layouts as other listings.
.views-layout .view-content {
  @include bp( small ) {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }

  .views-row {
    margin-top: 1.5rem;
  }
}

.views-layout--tiny-gap .view-content {
  .views-row:not(:first-child) {
    margin-top: 2px;
  }
}

////
// Specific styles for the view layout classes.
////

// One item in row.
.views-layout--full-width .view-content {
  .views-row {
    width: 100%;
  }
}

// Two items in row.
.views-layout--halves .view-content {
  .views-row {
    @include bp( small ) {
      width: calc(100 / 2 * 1%);
    }
  }
}

// Three items in row.
.views-layout--thirds .view-content {
  .views-row {
    @include bp( small ) {
      width: calc(100 / 3 * 1%);
    }
  }
}

// Four items in row.
.views-layout--quarters .view-content {
  .views-row {
    @include bp( small ) {
      width: calc(100 / 4 * 1%);
    }
  }
}

// Five items in row.
.views-layout--fifths .view-content {
  .views-row {
    @include bp( small ) {
      width: calc(100 / 5 * 1%);
    }
  }
}

// Six items in row.
.views-layout--sixths .view-content {
  @include bp(medium) {
    .views-row {
      width: calc(100 / 3 * 1%);
    }
  }
  @include bp(large) {
    .views-row {
      width: calc(100 / 6 * 1%);
    }
  }
}
