// Styling for tile view mode.
.tile {
  height: 100%;
  min-height: 100px;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in-out;
}

.tile__image {
  img {
    display: block;
  }
}

.tile__content {
  background: $white-7;
  bottom: 0;
  color: $gray-9;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 300ms ease-in-out;
}

.tile__title {
  font-size: 2rem;
  margin: 0;

  a {
    color: $gray-9;
    display: block;
    padding: 0.5em 0.5em;
    transition: all 300ms ease-in-out;
  }
}

.tile:hover {
  transition: all 300ms ease-in-out;

  .tile__content {
    background: $white-9;
    color: $gray-10;
    transition: all 300ms ease-in-out;

    a {
      color: $gray-10;
      transition: all 300ms ease-in-out;
    }
  }
}
