//
// Default colors
//
// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// Grays – made as solid colors.
$gray-05: lighten($black, 95%);
$gray-1: lighten($black, 90%);;
$gray-2: lighten($black, 80%);;
$gray-3: lighten($black, 70%);
$gray-4: lighten($black, 60%);
$gray-5: lighten($black, 50%);
$gray-6: lighten($black, 40%);
$gray-7: lighten($black, 30%);
$gray-8: lighten($black, 20%);
$gray-9: lighten($black, 10%);
$gray-10: $black;

// Whites – made as transparent colors.
$white-05: rgba(255, 255, 255, .05);
$white-1: rgba(255, 255, 255, .1);
$white-2: rgba(255, 255, 255, .2);
$white-3: rgba(255, 255, 255, .3);
$white-4: rgba(255, 255, 255, .4);
$white-5: rgba(255, 255, 255, .5);
$white-6: rgba(255, 255, 255, .6);
$white-7: rgba(255, 255, 255, .7);
$white-8: rgba(255, 255, 255, .8);
$white-9: rgba(255, 255, 255, .9);
$white-10: $white;

//
// Color sections
//
// Standard colors
$color-standard-foreground: $gray-9;
$color-standard-background: $white;
$color-standard-action: rgb(45, 115, 179);
$color-standard-focus: rgb(0, 94, 116);

// Color primary
$color-primary-foreground: rgba(2, 24, 43, 1);
$color-primary-background: rgb(235, 250, 255);
$color-primary-action: rgba(194, 0, 11, 1);
$color-primary-focus: rgba(68, 143, 163, 1);

// Color secondary
$color-secondary-foreground: rgba(28, 17, 10, 1);
$color-secondary-background: rgba(228, 214, 167, 1);
$color-secondary-action: rgba(173, 29, 39, 1);
$color-secondary-focus: rgba(80, 162, 167, 1);

// Color light
$color-light-foreground: $gray-7;
$color-light-background: $gray-1;
$color-light-action: $gray-9;
$color-light-focus: $gray-5;

// Color dark
$color-dark-foreground: $white;
$color-dark-background: $gray-9;
$color-dark-action: $white-7;
$color-dark-focus: $gray-9;

// Standard colors
$color-success:         #5cb85c;
$color-info:            #5bc0de;
$color-warning:         #f0ad4e;
$color-danger:          #d9534f;

//
// Layout dimensions.
//
// Small screen side padding
$site-padding: 2rem;
// Max width for large monitor.
$max-width: 140rem;
$content-layout-padding: 4rem;

// Media Queries
// Used in mixin/_breakpoints.scss
// 1. Name and define our breakpoints. Name the map something sensible
// 2. Write a comma separated list of key: value, pairs that we will use later
$bp-small: 46.8rem;
$bp-medium: 76.8rem;
$bp-large: 120rem;

$breakpoints: (
  small: $bp-small / 1.6,
  medium: $bp-medium / 1.6,
  large: $bp-large / 1.6,
);

//
// Fonts
//
// Font sizes
$base-font-size: 1.6rem;
$font-size-large: $base-font-size * 1.5;
$font-size-section: $base-font-size * 4;
$font-size-small: $base-font-size * .85;

// Headings sizes
$heading-xxl: 4.5rem;
$heading-xl: 3.6rem;
$heading-l: 3rem;
$heading-m: 2.5rem;
$heading-sm: 1.8rem;
$heading-xs: 1.6rem;

// Heading weights
$heading-xxl-weight: 100;
$heading-xl-weight: 100;
$heading-l-weight: 700;
$heading-m-weight: 100;
$heading-sm-weight: 300;
$heading-xs-weight: 500;

/* Define the "system" font family */
// https://css-tricks.com/snippets/css/system-font-stack/
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */
$font-family-base: system;
$font-family-heading: system;
$font-awesome: 'Font Awesome 5 Free';

//
// Page regions
//
// Header
$header-background: $gray-05;

// Admin area
$admin-background: transparent;

// Main navigation
$main-navigation-action: $gray-8;
$main-navigation-background: $gray-2;
$main-navigation-action-hover: $black;
$main-navigation-accent: $gray-3;
$main-navigation-accent-hover: $color-standard-action;

//
// View modes
//
// Calendar item
$calendar-item__date-width: 10rem;
$calendar-item__date-number-size: $calendar-item__date-width /2;
$calendar-item-background-current: $color-primary-background;
$calendar-item-background-past: $gray-05;
$calendar-item-foreground-past: $gray-5;
$calendar-item-future-background: $gray-05;
$calendar-item-border: 2px;

//
// Global variables
//
$border-radius: 4px;
