{#
/**
* Base section template for extending.
* Not available via Drupal UI.
*/
#}
{%
  set classes = [
  'section-layout',
  'section-layout__two-columns',
  content.sidebar|render|striptags|trim ? 'has-sidebar',
  'container'
]
%}

{% if content.content|render|striptags|trim or content.sidebar|render|striptags|trim %}
  <section{{ attributes.addClass(classes) }}>
    <div class="section-layout__content">
      {{ content.content }}
    </div>
    <aside class="section-layout__sidebar">
      {{ content.sidebar }}
    </aside>
  </section>
{% endif %}
