// Styling for teaser view mode.
.teaser{
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 300ms ease-in-out;

  @include bp( medium ) {
    flex-direction: row;
  }
}

.teaser__image {
  order: 1;

  @include bp( medium ) {
    max-width: 250px;
  }

  img {
    display: block;
  }
}

.teaser__content {
  order: 2;
  transition: all 300ms ease-in-out;
  width: 100%;

  p:first-child {
    margin-top: 0;
  }

  @include bp( medium ) {
    padding: 0 0 0 1em;
  }
}

.teaser__title {
  display: inline-block;
  font-size: 2rem;
  margin: 0;

  @include bp( medium ) {
    margin: -9px 0 0 0;
  }

  a {
    display: block;
    padding: 0.5em 0;
    transition: all 300ms ease-in-out;

    @include bp( medium ) {
      padding: 0;
    }
  }
}

.teaser__tags {
  font-size: $font-size-small;
}

.teaser:hover {
  transition: all 300ms ease-in-out;
}
