.block-field-blocknodepagefield-body {
  .field--name-field-body {
    max-width: $max-width;
    padding-left: $site-padding;
    padding-right: $site-padding;
    margin-right: auto;
    margin-left: auto;
  }
}
