// Paragraph content needs to be separated.
.paragraph .paragraph-content {
  padding-bottom: $content-layout-padding / 2;
  padding-top: $content-layout-padding / 2;
  position: relative;
  z-index: 101;

}
// But no need for vertical padding on paragraph content if the paragraph has background color.
.modifiers-has-background > .paragraph-content,
.paragraph[class^='color-'] > .paragraph-content {
  padding-bottom: 0;
  padding-top: 0;
}


// Paragraphs on edgy layout.
.section-layout--edgy {
  .paragraph-content {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    max-width: $max-width;
    padding-left: $site-padding;
    padding-right: $site-padding;
    width: 100%;

    @include bp(small) {
      max-width: ($bp-medium);
    }

    @include bp(medium) {
      max-width: ($max-width);
    }

    @include bp(large) {
      max-width: ($max-width);
    }
  }
  // No need for horizontal padding on paragraph content if the paragraph has background color.
  .modifiers-has-background > .paragraph-content ,
  .paragraph[class^='color-']:not(.color--standard) > .paragraph-content {
    padding-left: 0;
    padding-right: 0;

    @include bp(large) {
      padding-left: $content-layout-padding / 2;
      padding-right: $content-layout-padding / 2;
    }
  }
}

.paragraph--title {
  margin-top: 0;
}
